* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  max-width: 1100px;
  margin: auto;
}
.main-container .head-container {
  height: 168px;
  width: 1100px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .head-container .logo {
  display: flex;
  align-items: center;
}
.main-container .head-container .logo .T-logo {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #458FF6;
  width: 41px;
  height: 41px;
  border-radius: 20.5px;
  text-align: center;
  padding: 5px;
  margin-right: 12px;
}
.main-container .head-container .logo .Trafalgar {
  color: #233348;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-container .head-container .nav-opts {
  display: flex;
  gap: 40px;
}
.main-container .head-container .nav-opts a {
  text-decoration: none;
  color: #233348;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.main-container .head-container .nav-opts a:hover {
  color: #233348;
  opacity: 1;
  transform: 0.3s;
}
.main-container .banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 192px;
}
.main-container .banner-container .content {
  list-style-type: none;
}
.main-container .banner-container .content .darkcntnt {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 25px;
}
.main-container .banner-container .content .lightcntnt {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 45px;
}
.main-container .banner-container .consult-btn button {
  padding: 3px 40px;
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  flex-shrink: 0;
  border-radius: 55px;
  background: #458FF6;
  border: none;
}
.main-container .banner-container .consult-btn button:hover {
  background-color: #0c53b5;
  transition: 0.3s;
}
.main-container .ourservice-container {
  list-style-type: none;
  margin-bottom: 220px;
}
.main-container .ourservice-container .service {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  margin-bottom: 26px;
}
.main-container .ourservice-container .line {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background: #000000;
  margin: auto;
  margin-bottom: 33px;
}
.main-container .ourservice-container .service-cntnt {
  color: #7D7987;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 80px;
}
.main-container .ourservice-container .six-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 29px;
  margin-bottom: 69px;
}
.main-container .ourservice-container .six-contents .box {
  width: 350px;
  height: 354px;
  flex-shrink: 0;
  padding-top: 54px;
  padding-left: 37px;
}
.main-container .ourservice-container .six-contents .box .frame-img {
  padding-bottom: 22.41px;
}
.main-container .ourservice-container .six-contents .box .in-box-cntnt {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.main-container .ourservice-container .six-contents .box .description {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.main-container .ourservice-container .learnmore-btn {
  text-align: center;
}
.main-container .ourservice-container .learnmore-btn button {
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: 3px 51px;
}
.main-container .ourservice-container .learnmore-btn button:hover {
  background-color: #458FF6;
  color: #FFFFFF;
  transition: 0.3s;
}
.main-container .fourth-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 229px;
}
.main-container .fourth-container .care-provider .healthcare {
  margin-bottom: 26px;
}
.main-container .fourth-container .care-provider .healthcare li {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.main-container .fourth-container .care-provider .line2 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #000000;
  margin-bottom: 31px;
}
.main-container .fourth-container .care-provider .light-content {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 37px;
}
.main-container .fourth-container .care-provider .learn-btn button {
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  flex-shrink: 0;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: 3px 51px;
}
.main-container .fourth-container .care-provider .learn-btn button:hover {
  background-color: #458FF6;
  color: #FFFFFF;
  transition: 0.3s;
}
.main-container .fifth-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 266px;
}
.main-container .fifth-container .mobile-download {
  list-style-type: none;
}
.main-container .fifth-container .mobile-download .mobile {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
}
.main-container .fifth-container .mobile-download .line3 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #000000;
  margin-bottom: 30px;
}
.main-container .fifth-container .mobile-download .lght-cntnt {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}
.main-container .fifth-container .mobile-download .download-btn button {
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: 3px 51px;
}
.main-container .sixth-container {
  height: 425px;
  border-radius: 24px;
  background: linear-gradient(223deg, #67C3F3 0%, #5A98F2 100%);
  list-style-type: none;
  margin-bottom: 284px;
}
.main-container .sixth-container .customer-saying {
  text-align: center;
  padding-top: 64px;
}
.main-container .sixth-container .customer-saying li {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 25px;
}
.main-container .sixth-container .customer-saying .line4 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #FFFFFF;
  margin: auto;
}
.main-container .sixth-container .bottom-cntnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 77px;
}
.main-container .sixth-container .bottom-cntnt .left-cntnt {
  display: flex;
  align-items: center;
}
.main-container .sixth-container .bottom-cntnt .left-cntnt .human-img {
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 4px;
}
.main-container .sixth-container .bottom-cntnt .left-cntnt .author-name {
  margin-left: 29px;
}
.main-container .sixth-container .bottom-cntnt .left-cntnt .author-name .d-r-k {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}
.main-container .sixth-container .bottom-cntnt .left-cntnt .author-name .l-gh-t {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
}
.main-container .sixth-container .bottom-cntnt .right-cntnt li {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Mulish', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.main-container .seventh-container .ltst-article {
  list-style-type: none;
  text-align: center;
}
.main-container .seventh-container .ltst-article li {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 26px;
}
.main-container .seventh-container .ltst-article .line5 {
  width: 56px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #000000;
  margin: auto;
  margin-bottom: 72px;
}
.main-container .seventh-container .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}
.main-container .seventh-container .cards .card-content {
  width: 350px;
  height: 512px;
  margin: auto;
}
.main-container .seventh-container .cards .card-content .card-image {
  width: 348px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 21px;
}
.main-container .seventh-container .cards .card-content .card-dark-cntnt {
  margin-bottom: 12px;
  margin-left: 33px;
}
.main-container .seventh-container .cards .card-content .card-dark-cntnt .crd-drk {
  color: #000000;
  font-family: 'Mulish', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.main-container .seventh-container .cards .card-content .card-light-cntnt {
  margin-bottom: 25px;
  margin-left: 33px;
}
.main-container .seventh-container .cards .card-content .card-light-cntnt .crd-lgt {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.main-container .seventh-container .cards .card-content a {
  margin-left: 33px;
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}
.main-container .seventh-container .cards .card-content a:hover {
  color: #0c53b5;
  transition: 0.3s;
}
.main-container .view-all-btn {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 202px;
}
.main-container .view-all-btn button {
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  padding: 3px 51px;
}
.main-container .view-all-btn button:hover {
  background-color: #458FF6;
  color: #FFFFFF;
  transition: 0.3s;
}
.footer-container {
  width: 100%;
  height: 432px;
  background: linear-gradient(212deg, #67C3F3 0%, #5A98F2 100%);
  list-style-type: none;
}
.footer-container .foot-container-main {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 108px;
}
.footer-container .foot-container-main .trafalgar-footer .company-name {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.footer-container .foot-container-main .trafalgar-footer .company-name .tlogo {
  width: 41px;
  height: 41px;
  color: #458FF6;
  font-family: 'Mulish', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
}
.footer-container .foot-container-main .trafalgar-footer .company-name li {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-container .foot-container-main .trafalgar-footer .company-desc {
  margin-bottom: 31px;
}
.footer-container .foot-container-main .trafalgar-footer .company-desc li {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.footer-container .foot-container-main .trafalgar-footer .copyright li {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.footer-container .foot-container-main .right-foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 60px;
}
.footer-container .foot-container-main .right-foot .foot-columns .bold-txt {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.footer-container .foot-container-main .right-foot .foot-columns li {
  color: #FFFFFF;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
}
